.nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-bottom: 6rem;
}

.sobre_nosotros {
    text-align: center;
    width: 95%;
    border-radius: 0.5rem 0.5rem 2rem 2rem;
}

.img-bessie {
    width: 30%;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.nosotros_contenido {
    width: 50%;
    margin: 0 auto;
    text-align: justify;
    padding: 0 1rem;
}

.nosotros_contenido p:last-child {
    text-align: center;
}

@media (max-width: 1024px) {
    .img-bessie {
        width: 70%;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .nosotros_contenido {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .nosotros_imagen {
        width: 70%;
    }

    .nosotros_contenido {
        text-align: justify;
        padding: 0 2rem;
    }
}