.nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-bottom: 5rem;
}

.sobre_nosotros {
    text-align: center;
    width: 95%;
    border-radius: 0.5rem 0.5rem 1.5rem 1.5rem;
}

.img-bessie {
    width: 30%;
    max-width: 50rem;
    height: auto;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    object-fit: contain;
}

.nosotros_contenido {
    width: 50%;
    margin: 0 auto;
    text-align: justify;
    padding: 0 1rem;
}

.nosotros_contenido p:last-child {
    text-align: center;
}

@media (max-width: 1024px) {
    .img-bessie {
        width: 40%;
        max-width: 35rem;
        margin-top: 1.2rem;
        margin-bottom: 2.5rem;
    }

    .nosotros_contenido {
        width: 70%;
    }
}

@media (max-width: 750px) {
    .img-bessie {
        width: 55%;
        max-width: 28rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .nosotros_contenido {
        width: 90%;
        text-align: justify;
        padding: 0 1.5rem;
    }
}

@media (max-width: 480px) {
    .img-bessie {
        width: 65%;
        max-width: 22rem;
        margin-top: 0.8rem;
        margin-bottom: 1.5rem;
    }

    .nosotros_contenido {
        width: 95%;
        padding: 0 1rem;
    }
}

@media (max-width: 380px) {
    .img-bessie {
        width: 70%;
        max-width: 18rem;
    }

    .nosotros_contenido {
        width: 100%;
        padding: 0 0.8rem;
    }
}